<!DOCTYPE html>
<html>
<head>
    <title>AngularJS on JAX-RS</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }

        .popup {
            z-index: 2;
            position: absolute;
            min-width: 200px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>
<body id="ng-app" class="ng-app: TodoApp;" ng-controller="TodoCtrl">

<section id="notes" class="container ng-cloak">
    <button id="add-note" class="btn btn-primary" ng-click="addNote()">Add note</button>
    <article ng-repeat="note in notes" class="note">
        <h1><span class="title">{{ note.title }}</span>
            <button class="btn btn-danger" ng-click="remove(note)">-</button>
        </h1>

        <div class="summary">{{ note.summary }}</div>
    </article>
</section>

<div id="edit-note-modal" class="ng-cloak popup" ng-show="isEditNoteMode()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add note</h4>
            </div>
            <div class="modal-body">
                <form id="edit-note-form" ng-submit="save()">
                    <input type="text" ng-model="selectedNote.title" placeholder="Title" class="form-control" required/>
                    <textarea ng-model="selectedNote.summary" placeholder="Summary" class="form-control" required></textarea>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-default" ng-click="cancel($event);">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular/angular-mocks.js"></script>
<script src="vendor/angular/angular-resource.js"></script>
<script src="api-settings.jsp"></script>
<script src="app/_app.js"></script>
</html>